{%extends 'base.html'%}
{% load staticfiles%}
{% block content%}

<title> RegisterCustomer </title>
<body>

<body style="background-color:#A52A2A">

<div class="cointainer">

   <h1> Register Customer </h1>
    <p> First name:{{First_name}}</p>
    <p> Last name:{{Last_name}}</p>
    <p> Email:{{Email}}</p>
    <p> Contact:{{Contact}}</p>
    <p> Residence:{{Residence}}</p>
    <p> Occupation:{{Occupation}}</p>
    <p> Next of kin:{{Next_of_kin}}</p>
    <p> Relationship:{{Relationship}}</p>
</div>

</body>
    {% endblock%}


