{%extends 'base.html'%}
{% load staticfiles%}
{% block content%}

<title> RegisterCustomer </title>
<body>

<body style="background-color:#A52A2A">
<h1> Customer Account Trascations </h1>
<div class="col-sm-30">
 <p align="right">

    <p> Full name:{{Full_name}}</p>
    <p> Email:{{Email}}</p>
    <p> Contact:{{Contact}}</p>
    <p>  Account number:{{Account_number}}</p>
    <p> Occupation:{{Occupation}}</p>
    <p> Transcation type:{{Transcation_type}}</p>
    <p> Amount:{{user.Amount}}</p>
     <p> Transcation date:{{Transcation_date}}</p>



</div>
</div>

</body>
    {% endblock%}
